body {
  background: url("/images/bkg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  opacity: 0.8;
  background-size: cover;
}
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202,203,203,0.5);
  -moz-box-shadow: 0 0 5px rgba(202,203,204,0.5);
}
.site-meta {
  background: $blue;
}
.brand {
  color: #4dfc23;
}
.site-subtitle {
  color: #4dfc23;
}
.post-block.page {
  margin-top: 40px;
}
.category-all-page {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  background-color: #797d7f;
  padding: 20px 30px 60px 30px;
  border-radius: 25px 25px 25px 25px;
}
.category-all-title {
  font-family: Impact;
  font-size: 24px;
  color: #0ff;
}
.category-list {
  overflow: auto;
}
.category-list li {
  height: 100%;
  float: left;
  border-right: 3px solid #222;
  padding: 0 20px;
}
.category-all ul li {
  list-style: none !important;
}
.category-list li:last-child {
  border-right: none;
}
.category-list li a {
  font-size: 16px;
  text-decoration: none;
  color: #7fff00;
  font-family: Helvetica, Verdana, sans-serif;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.category-list li a:hover {
  color: #000;
}
.category-list li.active a {
  font-weight: bold;
  color: #000;
}
.post-toc.nav.nav-child {
  display: block;
}
.nav-level-3.nav-child {
  display: none !important;
}
.back-to-top:hover {
  color: #88ff0d;
  background-color: rgba(0,0,0,0.75);
}
.highlight figcaption {
  margin: 0em;
  padding: 0.5em;
  background: #eee;
  border-bottom: 1px solid #e9e9e9;
}
.highlight figcaption a {
  color: #5073b8;
}
.highlight {
  position: relative;
}
.btn-copy {
  display: inline-block;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #333;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  padding: 2px 6px;
  position: absolute;
  right: 5px;
  top: 5px;
  opacity: 0;
}
.btn-copy span {
  margin-left: 5px;
}
.highlight:hover .btn-copy {
  opacity: 1;
}
code {
  color: #c7254e;
  background: #f9f2f4;
  border: 1px solid #d6d6d6;
}
.post-button .btn:hover {
  color: #88ff0d !important;
  background-color: rgba(0,0,0,0.75);
}
.pagination .page-number.current {
  border-radius: 100%;
  background-color: rgba(100,100,100,0.75);
}
.pagination .prev,
.pagination .next,
.pagination .page-number {
  margin-bottom: 10px;
  border: none;
  color: #010101;
}
.page-number:hover,
.page-number:active {
  color: #88ff0d;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.75);
}
